#root {
  background-color: rgb(59, 55, 55);
  min-height: 100vh;
  width: 100vw;
  text-align: center;
  box-sizing: border-box;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

@font-face {
  font-family: "Asesino";
  src: url(./assets/The\ Asesino.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Thunder";
  src: url(./assets/A\ Love\ of\ Thunder.ttf);
  font-weight: normal;
  font-style: normal;
}


